#incomingMessage {
  width: fit-content;
  height: fit-content;
  padding: 5px 15px 5px 15px;
  border-radius: 3px;
  background-color: white;
  max-width: 48%;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
