#rightSide {
  background-color: rgb(201, 201, 201);
  width: 60%;
  height: full;
  border: 2px solid rgb(23, 154, 194);
  position: relative;
}

#rightSide h1 {
  background-color: rgb(0, 0, 0);
  padding: 5px 15px;
  color: white;
  width: 100%;
  margin-right: auto;
  height: fit-content;
  border: 2px solid rgb(23, 154, 194);
}

#messageContainer {
  width: 100%;
  height: full;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 15px 15px 15px 15px;
  overflow-y: auto;
  max-height: 98%;
}

#sendMessageContainer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: fit-content;
  padding: 15px 25px 15px 25px;
  background-color: aliceblue;
  display: flex;
  gap: 15px;
}

#btnSend {
  align-self: flex-end;
  padding: 10px 20px 10px 20px;
  background-color: aquamarine;
  border-radius: 7px;
}

#sendMessageContainer input {
  padding: 0px 20px;
  width: 100%;
}
